-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."AdminRole" AS ENUM ('SUPER_ADMIN', 'FINANCE_ADMIN', 'SUPPORT_ADMIN', 'SYSTEM_ADMIN');

-- CreateEnum
CREATE TYPE "public"."OrganizationProfileStatus" AS ENUM ('DRAFT', 'VERIFIED');

-- CreateEnum
CREATE TYPE "public"."OrganizationRoleEnum" AS ENUM ('OWNER', 'ACCOUNTANT', 'ECOLOGIST', 'VIEWER');

-- CreateEnum
CREATE TYPE "public"."DocumentStatus" AS ENUM ('UPLOADED', 'PROCESSING', 'PROCESSED', 'FAILED', 'ARCHIVED', 'QUEUED');

-- CreateEnum
CREATE TYPE "public"."ReportType" AS ENUM ('REPORT_296FZ', 'CBAM_XML', 'CBAM_CSV', 'CARBON_FOOTPRINT');

-- CreateEnum
CREATE TYPE "public"."PlanType" AS ENUM ('TRIAL', 'LITE', 'STANDARD', 'LARGE', 'ENTERPRISE', 'CBAM');

-- CreateEnum
CREATE TYPE "public"."PaymentStatus" AS ENUM ('PENDING', 'PAID', 'FAILED', 'CANCELLED', 'REFUNDED');

-- CreateEnum
CREATE TYPE "public"."SubscriptionPlan" AS ENUM ('FREE', 'TRIAL', 'LITE', 'STANDARD', 'LARGE', 'CBAM_ADDON');

-- CreateEnum
CREATE TYPE "public"."SubscriptionStatus" AS ENUM ('INACTIVE', 'ACTIVE', 'CANCELLED', 'EXPIRED', 'PENDING');

-- CreateEnum
CREATE TYPE "public"."QueueStatus" AS ENUM ('WAITING', 'ACTIVE', 'COMPLETED', 'FAILED', 'DELAYED', 'STALLED');

-- CreateEnum
CREATE TYPE "public"."QueueJobState" AS ENUM ('CREATED', 'RETRY', 'ACTIVE', 'COMPLETED', 'EXPIRED', 'CANCELLED', 'FAILED');

-- CreateEnum
CREATE TYPE "public"."QueueLogLevel" AS ENUM ('DEBUG', 'INFO', 'WARN', 'ERROR');

-- CreateEnum
CREATE TYPE "public"."ValidationType" AS ENUM ('CBAM_XML', 'EMISSION_296FZ', 'STRUCTURE_CHECK', 'DATA_QUALITY');

-- CreateEnum
CREATE TYPE "public"."InvoiceType" AS ENUM ('PLAN_PURCHASE', 'OVERAGE_PAYMENT');

-- CreateEnum
CREATE TYPE "public"."InvoiceStatus" AS ENUM ('PENDING', 'PAID', 'FAILED', 'CANCELLED', 'EXPIRED');

-- CreateTable
CREATE TABLE "public"."users" (
    "id" TEXT NOT NULL,
    "clerkId" TEXT,
    "email" TEXT NOT NULL,
    "firstName" TEXT,
    "lastName" TEXT,
    "isBlocked" BOOLEAN NOT NULL DEFAULT false,
    "planExpiry" TIMESTAMP(3),
    "usageStats" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "planType" "public"."PlanType" NOT NULL DEFAULT 'TRIAL',
    "totpSecret" TEXT,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."documents" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "fileName" TEXT NOT NULL,
    "originalName" TEXT NOT NULL,
    "filePath" TEXT NOT NULL,
    "fileSize" INTEGER NOT NULL,
    "fileType" TEXT NOT NULL,
    "status" "public"."DocumentStatus" NOT NULL DEFAULT 'UPLOADED',
    "ocrProcessed" BOOLEAN NOT NULL DEFAULT false,
    "ocrData" JSONB,
    "ocrConfidence" DOUBLE PRECISION,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "processingProgress" INTEGER DEFAULT 0,
    "processingStage" TEXT,
    "processingMessage" TEXT,
    "jobId" TEXT,
    "processingCompletedAt" TIMESTAMP(3),
    "processingStartedAt" TIMESTAMP(3),
    "queueStatus" "public"."QueueStatus",

    CONSTRAINT "documents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."reports" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "documentId" TEXT,
    "reportType" "public"."ReportType" NOT NULL,
    "format" TEXT NOT NULL,
    "fileName" TEXT NOT NULL,
    "filePath" TEXT NOT NULL,
    "fileSize" INTEGER,
    "emissionData" JSONB NOT NULL,
    "methodology" TEXT NOT NULL DEFAULT '296-╨д╨Ч ╨╛╤В 02.07.2021',
    "downloadCount" INTEGER NOT NULL DEFAULT 0,
    "lastDownload" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "version" INTEGER NOT NULL DEFAULT 1,
    "isLocked" BOOLEAN NOT NULL DEFAULT false,
    "signedAt" TIMESTAMP(3),
    "signedBy" TEXT,
    "dataHash" TEXT,
    "currentSnapshotId" TEXT,

    CONSTRAINT "reports_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."report_snapshots" (
    "id" TEXT NOT NULL,
    "reportId" TEXT NOT NULL,
    "version" INTEGER NOT NULL DEFAULT 1,
    "dataHash" TEXT NOT NULL,
    "methodVersions" TEXT[],
    "factorVersions" TEXT[],
    "signedBy" TEXT NOT NULL,
    "signedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "signature" TEXT NOT NULL,
    "payload" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "report_snapshots_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."payments" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "amount" DECIMAL(10,2) NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'RUB',
    "yookassaId" TEXT,
    "paymentUrl" TEXT,
    "status" "public"."PaymentStatus" NOT NULL DEFAULT 'PENDING',
    "metadata" JSONB,
    "description" TEXT,
    "paidAt" TIMESTAMP(3),
    "expiresAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "planType" "public"."PlanType",

    CONSTRAINT "payments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."audit_logs" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "action" TEXT NOT NULL,
    "resource" TEXT,
    "details" JSONB,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "metadata" JSONB,
    "organizationId" TEXT,

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."system_settings" (
    "id" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "value" JSONB NOT NULL,
    "description" TEXT,
    "category" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "system_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."admin_users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "role" "public"."AdminRole" NOT NULL DEFAULT 'SUPPORT_ADMIN',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "totpSecret" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "admin_users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."admin_sessions" (
    "id" TEXT NOT NULL,
    "adminId" TEXT NOT NULL,
    "tokenJti" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "admin_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."admin_permissions" (
    "id" TEXT NOT NULL,
    "adminId" TEXT NOT NULL,
    "resource" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "admin_permissions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."rate_limits" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "organizationId" TEXT NOT NULL,
    "requestCount" INTEGER NOT NULL DEFAULT 0,
    "windowStart" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "rate_limits_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."monetization_settings" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "organizationId" TEXT NOT NULL,
    "surgePricingEnabled" BOOLEAN NOT NULL DEFAULT true,
    "surgeMultiplier" DOUBLE PRECISION NOT NULL DEFAULT 2.0,
    "creditCostPerTon" DOUBLE PRECISION NOT NULL DEFAULT 5.0,
    "cbamAddonCostPerTon" DOUBLE PRECISION NOT NULL DEFAULT 3.0,
    "rateLimit" INTEGER NOT NULL DEFAULT 10,
    "rateLimitWindowSec" INTEGER NOT NULL DEFAULT 90,
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "monetization_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."queue_jobs" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "name" TEXT NOT NULL,
    "data" JSONB,
    "priority" INTEGER NOT NULL DEFAULT 0,
    "state" "public"."QueueJobState" NOT NULL DEFAULT 'CREATED',
    "retryLimit" INTEGER NOT NULL DEFAULT 3,
    "retryCount" INTEGER NOT NULL DEFAULT 0,
    "retryDelay" INTEGER NOT NULL DEFAULT 0,
    "retryBackoff" BOOLEAN NOT NULL DEFAULT false,
    "startAfter" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "startedOn" TIMESTAMP(6),
    "singletonKey" TEXT,
    "singletonOn" TIMESTAMP(6),
    "expireIn" TEXT,
    "createdOn" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedOn" TIMESTAMP(6),
    "keepUntil" TIMESTAMP(6),
    "output" JSONB,
    "deadLetter" TEXT,
    "policy" TEXT,

    CONSTRAINT "queue_jobs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."queue_job_logs" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "jobId" TEXT NOT NULL,
    "level" "public"."QueueLogLevel" NOT NULL DEFAULT 'INFO',
    "message" TEXT NOT NULL,
    "data" JSONB,
    "createdOn" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "queue_job_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."queue_metrics" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "metadata" JSONB,
    "timestamp" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expires_at" TIMESTAMP(6) NOT NULL,
    "metric_type" TEXT NOT NULL,
    "metric_value" DOUBLE PRECISION NOT NULL,

    CONSTRAINT "queue_metrics_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."organizations" (
    "id" TEXT NOT NULL,
    "clerkUserId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "inn" TEXT,
    "address" TEXT,
    "phone" TEXT,
    "email" TEXT,
    "isBlocked" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "organizations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."organization_profiles" (
    "id" TEXT NOT NULL,
    "organizationId" TEXT NOT NULL,
    "fullName" TEXT,
    "shortName" TEXT,
    "inn" TEXT NOT NULL,
    "kpp" TEXT,
    "ogrn" TEXT,
    "legalAddress" TEXT,
    "bankAccount" TEXT,
    "bankBic" TEXT,
    "bankName" TEXT,
    "emailForBilling" TEXT,
    "phone" TEXT,
    "tochkaAccountId" TEXT,
    "tochkaCustomerCode" TEXT,
    "defaultReportFormat" TEXT,
    "status" "public"."OrganizationProfileStatus" NOT NULL DEFAULT 'DRAFT',
    "checkoData" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "organization_profiles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."organization_users" (
    "id" TEXT NOT NULL,
    "organizationId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "role" "public"."OrganizationRoleEnum" NOT NULL DEFAULT 'VIEWER',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "organization_users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."organization_invitations" (
    "id" TEXT NOT NULL,
    "organizationId" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "role" "public"."OrganizationRoleEnum" NOT NULL DEFAULT 'VIEWER',
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" TIMESTAMP(3),

    CONSTRAINT "organization_invitations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."organization_subscriptions" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "organizationId" TEXT NOT NULL,
    "plan_type" "public"."SubscriptionPlan" NOT NULL DEFAULT 'FREE',
    "status" "public"."SubscriptionStatus" NOT NULL DEFAULT 'INACTIVE',
    "starts_at" TIMESTAMP(6),
    "expires_at" TIMESTAMP(6),
    "auto_renew" BOOLEAN NOT NULL DEFAULT false,
    "price_rub" DECIMAL(10,2),
    "features" JSONB,
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "annual_emissions" INTEGER DEFAULT 0,
    "has_cbam_addon" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "organization_subscriptions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."emission_factors" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "version" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "effectiveFrom" TIMESTAMP(6) NOT NULL,
    "effectiveTo" TIMESTAMP(6),
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "source" TEXT NOT NULL,
    "coefficients" JSONB NOT NULL,
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "emission_factors_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."report_validations" (
    "id" TEXT NOT NULL,
    "reportId" TEXT NOT NULL,
    "validationType" "public"."ValidationType" NOT NULL,
    "isValid" BOOLEAN NOT NULL,
    "errors" TEXT[],
    "warnings" TEXT[],
    "schemaType" TEXT,
    "validationData" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "report_validations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."template_customizations" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "templateType" TEXT NOT NULL,
    "fields" JSONB NOT NULL,
    "header" JSONB NOT NULL,
    "footer" JSONB NOT NULL,
    "branding" JSONB NOT NULL,
    "logo" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "template_customizations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."bank_invoices" (
    "id" TEXT NOT NULL,
    "organizationId" TEXT NOT NULL,
    "invoiceNumber" TEXT NOT NULL,
    "bankInvoiceId" TEXT NOT NULL,
    "customerCode" TEXT,
    "invoiceType" "public"."InvoiceType" NOT NULL,
    "amount" DECIMAL(12,2) NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'RUB',
    "status" "public"."InvoiceStatus" NOT NULL DEFAULT 'PENDING',
    "customerName" TEXT NOT NULL,
    "customerInn" TEXT NOT NULL,
    "customerAddress" TEXT,
    "customerPhone" TEXT,
    "customerEmail" TEXT,
    "paymentUrl" TEXT,
    "qrCodeUrl" TEXT,
    "pdfUrl" TEXT,
    "description" TEXT NOT NULL,
    "estimatedEmissions" DECIMAL(12,3),
    "excessEmissions" DECIMAL(12,3),
    "ratePerTon" DECIMAL(8,2),
    "expirationDate" TIMESTAMP(3),
    "paidAt" TIMESTAMP(3),
    "errorMessage" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "planType" "public"."PlanType",

    CONSTRAINT "bank_invoices_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."emission_overage_payments" (
    "id" TEXT NOT NULL,
    "organizationId" TEXT NOT NULL,
    "reportId" TEXT NOT NULL,
    "bankInvoiceId" TEXT NOT NULL,
    "excessEmissions" DECIMAL(12,3) NOT NULL,
    "ratePerTon" DECIMAL(8,2) NOT NULL,
    "totalAmount" DECIMAL(12,2) NOT NULL,
    "status" "public"."PaymentStatus" NOT NULL DEFAULT 'PENDING',
    "paidAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "emission_overage_payments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."accounts" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "providerAccountId" TEXT NOT NULL,
    "refresh_token" TEXT,
    "access_token" TEXT,
    "expires_at" INTEGER,
    "token_type" TEXT,
    "scope" TEXT,
    "id_token" TEXT,
    "session_state" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "accounts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."sessions" (
    "id" TEXT NOT NULL,
    "sessionToken" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."verification_tokens" (
    "identifier" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL
);

-- CreateTable
CREATE TABLE "public"."otp_codes" (
    "id" TEXT NOT NULL,
    "contact" TEXT NOT NULL,
    "codeHash" TEXT NOT NULL,
    "purpose" TEXT,
    "attempts" INTEGER NOT NULL DEFAULT 0,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "otp_codes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."backup_codes" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "codeHash" TEXT NOT NULL,
    "used" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "backup_codes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."rate_limit_events" (
    "id" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "rate_limit_events_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_clerkId_key" ON "public"."users"("clerkId");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "public"."users"("email");

-- CreateIndex
CREATE INDEX "documents_processingStage_idx" ON "public"."documents"("processingStage");

-- CreateIndex
CREATE INDEX "documents_jobId_idx" ON "public"."documents"("jobId");

-- CreateIndex
CREATE INDEX "documents_queueStatus_idx" ON "public"."documents"("queueStatus");

-- CreateIndex
CREATE INDEX "documents_userId_queueStatus_idx" ON "public"."documents"("userId", "queueStatus");

-- CreateIndex
CREATE INDEX "documents_userId_status_idx" ON "public"."documents"("userId", "status");

-- CreateIndex
CREATE INDEX "documents_queueStatus_processingStartedAt_idx" ON "public"."documents"("queueStatus", "processingStartedAt");

-- CreateIndex
CREATE INDEX "documents_processingCompletedAt_idx" ON "public"."documents"("processingCompletedAt");

-- CreateIndex
CREATE INDEX "documents_createdAt_idx" ON "public"."documents"("createdAt");

-- CreateIndex
CREATE INDEX "documents_updatedAt_idx" ON "public"."documents"("updatedAt");

-- CreateIndex
CREATE INDEX "report_snapshots_reportId_version_idx" ON "public"."report_snapshots"("reportId", "version");

-- CreateIndex
CREATE UNIQUE INDEX "payments_yookassaId_key" ON "public"."payments"("yookassaId");

-- CreateIndex
CREATE INDEX "audit_logs_organizationId_idx" ON "public"."audit_logs"("organizationId");

-- CreateIndex
CREATE INDEX "audit_logs_action_idx" ON "public"."audit_logs"("action");

-- CreateIndex
CREATE INDEX "audit_logs_createdAt_idx" ON "public"."audit_logs"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "system_settings_key_key" ON "public"."system_settings"("key");

-- CreateIndex
CREATE UNIQUE INDEX "admin_users_email_key" ON "public"."admin_users"("email");

-- CreateIndex
CREATE INDEX "admin_users_role_idx" ON "public"."admin_users"("role");

-- CreateIndex
CREATE INDEX "admin_users_isActive_idx" ON "public"."admin_users"("isActive");

-- CreateIndex
CREATE UNIQUE INDEX "admin_sessions_tokenJti_key" ON "public"."admin_sessions"("tokenJti");

-- CreateIndex
CREATE INDEX "admin_sessions_adminId_idx" ON "public"."admin_sessions"("adminId");

-- CreateIndex
CREATE INDEX "admin_sessions_expiresAt_idx" ON "public"."admin_sessions"("expiresAt");

-- CreateIndex
CREATE INDEX "admin_permissions_adminId_idx" ON "public"."admin_permissions"("adminId");

-- CreateIndex
CREATE INDEX "admin_permissions_resource_action_idx" ON "public"."admin_permissions"("resource", "action");

-- CreateIndex
CREATE INDEX "rate_limits_organizationId_idx" ON "public"."rate_limits"("organizationId");

-- CreateIndex
CREATE INDEX "rate_limits_windowStart_idx" ON "public"."rate_limits"("windowStart");

-- CreateIndex
CREATE UNIQUE INDEX "rate_limits_organizationId_windowStart_key" ON "public"."rate_limits"("organizationId", "windowStart");

-- CreateIndex
CREATE UNIQUE INDEX "monetization_settings_organizationId_key" ON "public"."monetization_settings"("organizationId");

-- CreateIndex
CREATE INDEX "monetization_settings_organizationId_idx" ON "public"."monetization_settings"("organizationId");

-- CreateIndex
CREATE INDEX "queue_jobs_name_idx" ON "public"."queue_jobs"("name");

-- CreateIndex
CREATE INDEX "queue_jobs_state_idx" ON "public"."queue_jobs"("state");

-- CreateIndex
CREATE INDEX "queue_jobs_priority_idx" ON "public"."queue_jobs"("priority");

-- CreateIndex
CREATE INDEX "queue_jobs_name_state_idx" ON "public"."queue_jobs"("name", "state");

-- CreateIndex
CREATE INDEX "queue_jobs_startAfter_idx" ON "public"."queue_jobs"("startAfter");

-- CreateIndex
CREATE INDEX "queue_jobs_createdOn_idx" ON "public"."queue_jobs"("createdOn");

-- CreateIndex
CREATE INDEX "queue_jobs_completedOn_idx" ON "public"."queue_jobs"("completedOn");

-- CreateIndex
CREATE INDEX "queue_jobs_singletonKey_idx" ON "public"."queue_jobs"("singletonKey");

-- CreateIndex
CREATE INDEX "queue_jobs_keepUntil_idx" ON "public"."queue_jobs"("keepUntil");

-- CreateIndex
CREATE INDEX "queue_job_logs_jobId_idx" ON "public"."queue_job_logs"("jobId");

-- CreateIndex
CREATE INDEX "queue_job_logs_level_idx" ON "public"."queue_job_logs"("level");

-- CreateIndex
CREATE INDEX "queue_job_logs_createdOn_idx" ON "public"."queue_job_logs"("createdOn");

-- CreateIndex
CREATE INDEX "queue_metrics_metric_type_idx" ON "public"."queue_metrics"("metric_type");

-- CreateIndex
CREATE INDEX "queue_metrics_timestamp_idx" ON "public"."queue_metrics"("timestamp");

-- CreateIndex
CREATE INDEX "queue_metrics_expires_at_idx" ON "public"."queue_metrics"("expires_at");

-- CreateIndex
CREATE INDEX "queue_metrics_metric_type_timestamp_idx" ON "public"."queue_metrics"("metric_type", "timestamp");

-- CreateIndex
CREATE UNIQUE INDEX "organizations_clerkUserId_key" ON "public"."organizations"("clerkUserId");

-- CreateIndex
CREATE UNIQUE INDEX "organizations_inn_key" ON "public"."organizations"("inn");

-- CreateIndex
CREATE UNIQUE INDEX "organization_profiles_organizationId_key" ON "public"."organization_profiles"("organizationId");

-- CreateIndex
CREATE UNIQUE INDEX "organization_profiles_inn_key" ON "public"."organization_profiles"("inn");

-- CreateIndex
CREATE INDEX "organization_profiles_inn_idx" ON "public"."organization_profiles"("inn");

-- CreateIndex
CREATE INDEX "organization_users_organizationId_idx" ON "public"."organization_users"("organizationId");

-- CreateIndex
CREATE INDEX "organization_users_userId_idx" ON "public"."organization_users"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "organization_users_organizationId_userId_key" ON "public"."organization_users"("organizationId", "userId");

-- CreateIndex
CREATE UNIQUE INDEX "organization_invitations_token_key" ON "public"."organization_invitations"("token");

-- CreateIndex
CREATE INDEX "organization_invitations_organizationId_email_idx" ON "public"."organization_invitations"("organizationId", "email");

-- CreateIndex
CREATE UNIQUE INDEX "organization_subscriptions_organizationId_key" ON "public"."organization_subscriptions"("organizationId");

-- CreateIndex
CREATE INDEX "org_subscriptions_organizationId_idx" ON "public"."organization_subscriptions"("organizationId");

-- CreateIndex
CREATE INDEX "org_subscriptions_plan_type_idx" ON "public"."organization_subscriptions"("plan_type");

-- CreateIndex
CREATE INDEX "org_subscriptions_status_idx" ON "public"."organization_subscriptions"("status");

-- CreateIndex
CREATE INDEX "org_subscriptions_expires_at_idx" ON "public"."organization_subscriptions"("expires_at");

-- CreateIndex
CREATE UNIQUE INDEX "emission_factors_version_key" ON "public"."emission_factors"("version");

-- CreateIndex
CREATE INDEX "emission_factors_effectiveFrom_idx" ON "public"."emission_factors"("effectiveFrom");

-- CreateIndex
CREATE INDEX "emission_factors_effectiveTo_idx" ON "public"."emission_factors"("effectiveTo");

-- CreateIndex
CREATE INDEX "emission_factors_isActive_idx" ON "public"."emission_factors"("isActive");

-- CreateIndex
CREATE INDEX "emission_factors_version_idx" ON "public"."emission_factors"("version");

-- CreateIndex
CREATE UNIQUE INDEX "bank_invoices_invoiceNumber_key" ON "public"."bank_invoices"("invoiceNumber");

-- CreateIndex
CREATE UNIQUE INDEX "bank_invoices_bankInvoiceId_key" ON "public"."bank_invoices"("bankInvoiceId");

-- CreateIndex
CREATE INDEX "bank_invoices_organizationId_idx" ON "public"."bank_invoices"("organizationId");

-- CreateIndex
CREATE INDEX "bank_invoices_status_idx" ON "public"."bank_invoices"("status");

-- CreateIndex
CREATE INDEX "bank_invoices_invoiceType_idx" ON "public"."bank_invoices"("invoiceType");

-- CreateIndex
CREATE INDEX "bank_invoices_createdAt_idx" ON "public"."bank_invoices"("createdAt");

-- CreateIndex
CREATE INDEX "emission_overage_payments_organizationId_idx" ON "public"."emission_overage_payments"("organizationId");

-- CreateIndex
CREATE INDEX "emission_overage_payments_reportId_idx" ON "public"."emission_overage_payments"("reportId");

-- CreateIndex
CREATE INDEX "emission_overage_payments_status_idx" ON "public"."emission_overage_payments"("status");

-- CreateIndex
CREATE INDEX "accounts_userId_idx" ON "public"."accounts"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "accounts_provider_providerAccountId_key" ON "public"."accounts"("provider", "providerAccountId");

-- CreateIndex
CREATE UNIQUE INDEX "sessions_sessionToken_key" ON "public"."sessions"("sessionToken");

-- CreateIndex
CREATE INDEX "sessions_userId_idx" ON "public"."sessions"("userId");

-- CreateIndex
CREATE INDEX "sessions_expires_idx" ON "public"."sessions"("expires");

-- CreateIndex
CREATE UNIQUE INDEX "verification_tokens_token_key" ON "public"."verification_tokens"("token");

-- CreateIndex
CREATE UNIQUE INDEX "verification_tokens_identifier_token_key" ON "public"."verification_tokens"("identifier", "token");

-- CreateIndex
CREATE INDEX "otp_codes_contact_idx" ON "public"."otp_codes"("contact");

-- CreateIndex
CREATE INDEX "otp_codes_expiresAt_idx" ON "public"."otp_codes"("expiresAt");

-- CreateIndex
CREATE INDEX "backup_codes_userId_used_idx" ON "public"."backup_codes"("userId", "used");

-- CreateIndex
CREATE INDEX "rate_limit_events_key_createdAt_idx" ON "public"."rate_limit_events"("key", "createdAt");

-- AddForeignKey
ALTER TABLE "public"."documents" ADD CONSTRAINT "documents_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."reports" ADD CONSTRAINT "reports_documentId_fkey" FOREIGN KEY ("documentId") REFERENCES "public"."documents"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."reports" ADD CONSTRAINT "reports_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."report_snapshots" ADD CONSTRAINT "report_snapshots_reportId_fkey" FOREIGN KEY ("reportId") REFERENCES "public"."reports"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."payments" ADD CONSTRAINT "payments_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."audit_logs" ADD CONSTRAINT "audit_logs_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES "public"."organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."admin_sessions" ADD CONSTRAINT "admin_sessions_adminId_fkey" FOREIGN KEY ("adminId") REFERENCES "public"."admin_users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."admin_permissions" ADD CONSTRAINT "admin_permissions_adminId_fkey" FOREIGN KEY ("adminId") REFERENCES "public"."admin_users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."queue_job_logs" ADD CONSTRAINT "queue_job_logs_jobId_fkey" FOREIGN KEY ("jobId") REFERENCES "public"."queue_jobs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."organization_profiles" ADD CONSTRAINT "organization_profiles_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES "public"."organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."organization_users" ADD CONSTRAINT "organization_users_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES "public"."organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."organization_users" ADD CONSTRAINT "organization_users_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."organization_invitations" ADD CONSTRAINT "organization_invitations_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES "public"."organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."report_validations" ADD CONSTRAINT "report_validations_reportId_fkey" FOREIGN KEY ("reportId") REFERENCES "public"."reports"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."accounts" ADD CONSTRAINT "accounts_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."sessions" ADD CONSTRAINT "sessions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."backup_codes" ADD CONSTRAINT "backup_codes_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

